/*--------------------------------AJUSTE DO BODY NO HTML----------------------------------------*/

body {
    margin: 0 auto;
    width: 100%;
    height: 100%;
}
ul{
    padding: 0px!important;
}
main {
    margin: 0 auto;
    width: 100%;
    position: relative;
}

/*----------------FUNDO DO SITE-------------------------------------------------*/

.fundocor{
    background-image: linear-gradient(to left, rgb(20, 147, 220), rgb(17, 54, 71) );
}

/*-----------------MENU PRICIPAL DO SITE----------------------------------------*/

.menu-principal {
    width: 100%;
    background-color:#264464;
    height: 85px;
}

/*--------------------LOGO DO SITE BRPOP----------------------------------------*/

.logo{
    float:left;
    width: 30%;
    margin-top: 2%;
    margin-left: 14%;
    
}

/*------------------REDES SOCIAIS DO SITE---------------------------------------*/

.redes-sociais ul li {
    float: left;
    list-style: none;
    margin-right: 8%;
}
.redes-sociais {
    margin-top: 1%;
    width: 33%;
    float: right;
}
/*----------------------BARRA DE MENU DE NAVEGAÇÃO COM ANIMAÇÃO----------------------------*/
.menu nav ul li a:hover {
    color: #2600ffbc;
 }
/*-------------------BARRA DE MENU DE NAVEGAÇÃO----------------------------------------*/

.header-2 {
    padding-top: 0.1px;
    background-color: rgba(227, 224, 224, 0.864);
    width: 100%;
    border-bottom: 5px solid #264464bc;
}
.header-2 ul li {
    color: #555555e8;
    padding-top: 1%;
    list-style: none;
    display: inline-block;
    margin-left: 14.2%;
}
.header-2 ul li a{
    color: #555555e8;
    text-decoration: none;
    font-size: 17px;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

/*----------------------------titulo 1 e 2-------------------------------------------------*/

.titulo {
    display: flex;
    width: 572px;
    height: 71px;
    margin-left: 300px;
    margin-top: 60px;

    font-family: 'arial';
    font-style: normal;
    font-weight: 400px;
    font-size: 36px;
    line-height: 44px;

    color: #FFFFFF;
}

.titulo2 {
    display: flex;
    width: 857px;
    height: 495px;
    margin-left: 105px;
    margin-top: 100px;

    font-family: 'arial';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 44px;

    color: #FFFFFF;

}

/*--------------------------------imagem de um motorista-------------------------------------------------*/

.img-motorista img{
    display: flex;
    width: 600px;
    height: 400px;
    margin-left: 1100px;
    margin-top: -500px;

    border-radius: 35px;
}